<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936698531920-0f4uf93itc71tln30liikjq51stgubtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936698531920-0f4uf93itc71tln30liikjq51stgubtq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>936698531920-6rgbq402tfo7etaijdc8leo6kab55mmi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wKOYe9TdhFWe4S1mkD-Dk3swCjK7ysM</string>
	<key>GCM_SENDER_ID</key>
	<string>936698531920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karaokenerds.karaokay</string>
	<key>PROJECT_ID</key>
	<string>projectbread-karaokay</string>
	<key>STORAGE_BUCKET</key>
	<string>projectbread-karaokay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936698531920:ios:d905524c1823ca74070155</string>
	<key>DATABASE_URL</key>
	<string>https://projectbread-karaokay.firebaseio.com</string>
</dict>
</plist>